@font-face {
  font-family: "JosefinSans-Light";
  src: url("../assets/fonts/JosefinSans-Light.ttf");
}
@font-face {
  font-family: "JosefinSans-Regular";
  src: url("../assets/fonts/JosefinSans-Regular.ttf");
}

* {
  margin: 0;
  font-family: "JosefinSans-Regular";
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.header {
  margin-top: 80px;
  color: #7f4f21;
}
.data{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.data-desktop{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  display: none;
}
.player {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.player-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff100;
  color: #7f4f21;
  height: 50px;
  width: 150px;
  font-size: 18px;
  margin-bottom: 15px;
}

.counter {
  margin: 0px 60px;
  color: #7f4f21;
  font-size: 24px;
}
#player {
  border-radius: 0px 25px 25px 0px;
}
#computer {
  border-radius: 25px 0px 0px 25px;
}
.hands {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  height: 30vh;
}
.hand {
  width: 45%;
  margin: 15px 0px;
}
.handL {
  width: 40%;
  animation: spinLeft 1s linear 3;
}
.handR {
  width: 40%;
  animation: spinRight 1s linear 3;
}

.choices {
  display: flex;
  align-items: center;
  justify-content: center;
}

.choice-img {
  cursor: pointer;
  margin: 10px;
  width: 80px;
}

.btn {
  cursor: pointer;
  background-color: #fff100;
  color: #7f4f21;
  border: none;
  width: 300px;
  height: 60px;
  border-radius: 25px;
  margin: 50px 0;
  font-size: 20px;
}

.popup-message {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 100px;
}
.msg-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.msg-img {
  width: 75%;
}
.continue-btn {
  cursor: pointer;
  background-image: linear-gradient(to right, rgb(255, 102, 0), yellow);
  color: white;
  border: none;
  width: 150px;
  height: 60px;
  border-radius: 25px;
  margin-top: 50px;
  font-size: 20px;
}

@keyframes spinLeft {
  10%,
  50% {
    transform: rotate(-45deg);
  }
  50%,
  90% {
    transform: rotate(45deg);
  }
}

@keyframes spinRight {
  10%,
  50% {
    transform: rotate(45deg);
  }
  50%,
  90% {
    transform: rotate(-45deg);
  }
}

@media screen and (min-width: 600px) {
  .msg-img {
    width: 400px;
  }
  .player {
    justify-content: center;
  }
  .player:first-child{
    margin-left: 20%;
  }
  .player:nth-child(2){
    margin-right: 20%;
  }
  #player {
    border-radius: 25px;
  }
  #computer {
    border-radius: 25px;
  }
  .hand {
    width: 350px;
    margin-bottom: 0px;
  }
  .handL {
    width: 350px;
  }
  .handR {
    width: 350px;
  }
  .hands{
    height: 300px;
  }
  .choices{
    margin-top: 0;
  }
}
